## .NET / C#
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.nupkg
project.lock.json

## IDE
.vs/
.vscode/
.idea/

## OS
Thumbs.db
.DS_Store
desktop.ini

## Build
publish/
artifacts/
TestResults/

## Logs
*.log
logs/

## Driver artifacts
*.sys
*.inf
.nc
